DATABASE_URL=
JWT_SECRET=
CRON_SECRET=
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=https://muslingo-mobile.vercel.app
MUSLINGO_APP_ORIGIN=https://muslingo-mobile.vercel.app
MUSLINGO_API_URL=https://muslingo-mobile.vercel.app
MUSLINGO_SPEECH_API_URL=https://muslingo-mobile.vercel.app
